# Bỏ qua node_modules
node_modules/
.idea/

# Bao gồm các file khác, ví dụ .csv và .txt, ...
*.csv
*.txt
*.xlsx
*.doc
*.docx
*.pdf
*.zip
*.rar
*.xml
*.png
*.jpg
*.jpeg
*.weights
*.cfg
*.ttf
*.mp4
*.names
*.exe